/* ======================================= VARIABLES ======================================= */
:root {
	--color-menu: #262a34;
	--color-menu-fuente: #fff;
	--color-acordion: #6db5ff;
	--color-acordion-fuente: #1c1c1c;
}
/* ======================================= BODY ======================================= */
body {
	margin: 0;
	padding: 0;
	background: #f1f1f1;
}
/* ======================================= CONTAINER ======================================= */
.container {
	width: 100%;
	min-height: 100vh;
	/*background: #e6b0aa;*/
	padding: 1.5rem;
	box-sizing: border-box;
}
/* ======================================= ACORDION ======================================= */
.acordion{
	width: 100%;
	padding: 0 5PX;
	border: 2px solid var(--color-acordion);
	cursor: pointer;
	border-radius: 50px;
	display: flex;
	margin: 10px 0;
	align-items: center;
	box-sizing: border-box;
}
.acordion .icon{
	margin: 0 10px 0 5px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--color-acordion);
	float: left;
	transition: .5s ease-in;
}
.acordion .icon i{
	color: #f1f1f1;
	font-size: 1.3rem;
}
.acordion h5{
	font-size: 1.3rem;
	margin: 0;
	padding: .8rem 0px;
	font-weight: normal;
	font-family: serif;
	color: var(--color-acordion-fuente);
	margin-right: 5px;
}
.panel{
	padding: 0 15px;
	border-left: 1px solid var(--color-acordion);
	margin: 0 0 0 25px;
	font-size: 14px;
	text-align: justify;
	overflow: hidden;
	height: 0;
	transition: all .4s ease-in;
	color: var(--color-acordion-fuente);
}
/* ======================================= CARD ======================================= */
.card-content{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.card{
	width: 280px;
	max-width: 98%;
	border: 2px solid var(--color-acordion);
	border-radius: 8px;
	margin-bottom: 5px;
}
.card .card-title{
	width: 100%;
}
.card .card-title p{
	text-align: center;
	margin: 0;
	padding: 3px 0;
	font-size: 1.2rem;
	color: var(--color-acordion-fuente);
}
.card-body{
	pointer-events: none;
	overflow: hidden;
}
.card-body .frmCard{
	width: 100%;
	height: 154px;
	overflow: hidden;
}
.card-footer{
	text-align: center;
}
.card-footer a{
	color: var(--color-acordion);
}